<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card bg-light my-5">
          <div class="card-body">
            <h2 class="card-title text-center text-dark py-3">Employee Details</h2>
            <ul class="text-center list-inline py-3">
              <!-- <li class="list-inline-item">
                <a routerLink="/users" class="btn btn-info">List Employees</a>
                  </li> -->
              <li class="list-inline-item">
                <a routerLink="/adduser" class="btn btn-info">Add Employee</a>
                  </li>
            </ul>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>